body {
    margin: 0px; /*aggiunge una distanza dai suoi elementi esterni*/
    padding: 0px; /*aggiunge una distanza dai suoi elementi interni*/
    text-align: center;
    /*background-color: #e5e5e5;*/
    background-image: url("../img/bgGif.gif");
    background-repeat: no-repeat;
    background-size: 100%;
}

header {
    padding: 20px; /*aggiunge una distanza dai suoi elementi interni*/
    height: 70px;
    /*background-color: #030303;*/
    /*background: linear-gradient(top right, #FFFFFF 0%, #AACFEF 100%);*/
    /*background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#000022));*/
}

footer {
    padding: 20px; /*aggiunge una distanza dai suoi elementi interni*/
    /*background-color: #030303;*/
}

h1 {
    color: #fff;
}

.active>h1, .disactive>h1 { /*Seleziono solamente gli h1 che stanno dentro al tag con classe .active*/
    color: #fff;
}

.login {
    margin: 50px; /*aggiunge una distanza dai suoi elementi esterni*/
    padding: 50px; /*aggiunge una distanza dai suoi elementi interni*/
    background-color: #f5f5f5;
    box-shadow: 0px 5px 10px 0px #444444; /*serve per mettere un'ombra al div*/
    display: inline-block; /*serve per assegnare dimensioni esplicite all'elemento*/
}

.btn {
    margin: 10px; /*aggiunge una distanza dai suoi elementi esterni*/
    padding: 0 20px; /*aggiunge una distanza dai suoi elementi interni*/
    background-color: #45b5f5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    width: auto;
    height: 32px;
    border: 1px solid #000; /*corrisponde a: border-width: 1px; border-style: solid; border-color: #000;*/
    border-radius: 4px;
}

.btn:hover {
    background-color: #409ad5;
    cursor: pointer;
    color: #fff;
    border: 1px solid #000; /*corrisponde a: border-width: 1px; border-style: solid; border-color: #000;*/
}

.btn:active {
    background-color: #409ad5;
    cursor: pointer;
}

label {
    margin: 400px 10px 10px 10px;  /*aggiunge una distanza dai suoi elementi esterni*/
    font: bold 14px Arial, Helvetica, sans-serif;
    text-align: left;
    vertical-align: baseline;
}

input {
    margin: 10px; /*aggiunge una distanza dai suoi elementi esterni*/
    padding: 5px; /*aggiunge una distanza dai suoi elementi interni*/
    font: bold 14px Arial, Helvetica, sans-serif;
}

.title {
    color: #f00;
}

.btnLogout {
    /*margin: 10px; !*aggiunge una distanza dai suoi elementi esterni*!*/
    padding: 0 20px; /*aggiunge una distanza dai suoi elementi interni*/
    background-color: #45b5f5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    width: auto;
    height: 32px;
    border: 1px solid #000; /*corrisponde a: border-width: 1px; border-style: solid; border-color: #000;*/
    border-radius: 4px;
    float: right;
}

.btnLogout:hover {
    background-color: #409ad5;
    cursor: pointer;
    color: #fff;
    border: 1px solid #000; /*corrisponde a: border-width: 1px; border-style: solid; border-color: #000;*/
}

table {
    /*margin-top: 50px;*/
    width:70%;
    /*margin-left:15%;*/
    /*margin-right:15%;*/
    color: #000;
    border: 1px solid #000;
    /*border-collapse: collapse;*/
}

.tableSensors {
    margin-top: 50px;
    width:70%;
    margin-left:15%;
    margin-right:15%;
    color: #fff;
    border: 1px solid #fff;
    border-collapse: collapse;
}

.tableSamples {
    margin-top: 50px;
    width:70%;
    margin-left:15%;
    margin-right:15%;
    color: #fff;
    border: 1px solid #fff;
    border-collapse: collapse;
}

tr, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #eaeaea;
    color: black;
}

tr:hover {
    background-color: #f2f2f2;
    color: #000;
}

select {
    margin: 10px 0 30px 0; /*aggiunge una distanza dai suoi elementi esterni*/
    padding: 10px 20px; /*aggiunge una distanza dai suoi elementi interni*/
}

img {
    /*margin: 5px; !*aggiunge una distanza dai suoi elementi esterni*!*/
    /*padding: 10px 20px; !*aggiunge una distanza dai suoi elementi interni*!*/
    width: 30px;
    height: 30px;
}